
.input-btn-div {
    display: flex;
}

.card-color {
    background-color: #FFF6EA;
}

.card-header-footer-color {
    background-color: #f7debd !important;
}

.paginate-div ul {
    justify-content: center;
    margin-bottom: 0;
}