
.search-div {
    margin-top: 3em;
}

.search-div {
    flex: 1 1;    
    display: flex;
    justify-content: flex-end;
}

.search-input {
    margin-right: 0.25em;
    width: 218px;
}

.photos-aside-div {
  display: flex;
}

.allPhotos-div {
  flex: 3 3;
  margin-top: 1em;
}

.sidePanel {
  flex: 1 1;
} 

.form-btn-div {
  display: flex;
  justify-content: space-around;
}

.label-sel-pic {
  text-align: center;
  font-size: large;
}

.hideLabel {
  display: none;  
}

.showBlue {
  color: #087cf0;
  font-size: large;
}

/* img selection */

.not-selected {
  cursor: pointer;
}

.selected {
    box-shadow: 0 0 0 4px #0baee9;
    animation:        selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -o-animation:     selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -ms-animation:    selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -moz-animation:   selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -webkit-animation: selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  }
  
  @keyframes selected {
    0% { border-color: #fff; }
    50% { transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #0baee9; }
    80%,100% { width: 400; height: 200; box-shadow: 0 0 0 4px #0baee9; }
  }
  @-o-keyframes selected {
    0% { box-shadow: 0 0 0 4px #fff; }
    50% { -o-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #0baee9; }
    80%,100% { width: 400; height: 200; box-shadow: 0 0 0 4px #0baee9; }
  }
  @-ms-keyframes selected {
    0% { box-shadow: 0 0 0 4px #fff; }
    50% { width: 45%; height: 45%; opacity: 0.8; box-shadow: 0 0 0 4px #0baee9; }
    80%,100% { width: 400; height: 200; box-shadow: 0 0 0 4px #0baee9; }
  }
  @-moz-transition selected {
    0% { box-shadow: 0 0 0 4px #fff; }
    50% { -moz-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #0baee9; }
    80%,100% { width: 400; height: 200; box-shadow: 0 0 0 4px #0baee9; }
  }
  @-webkit-keyframes selected {
    0% { box-shadow: 0 0 0 4px #fff; }
    50% { -webkit-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #0baee9; }
    80%,100% { width: 400; height: 200; box-shadow: 0 0 0 4px #0baee9; }
  }