
.bg-image {
  background-image: url("../../../public/images/background.jpg");
}

.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #fa84c1;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgb(228 182 246 / 33%),
    rgba(143, 211, 244, 0.5)
  );
}

.label-font-size {
    font-size: 20px !important;
}