.dropbox-div {
    margin: .25rem;
    padding: 1rem;
    border: 2px dashed grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}